@tailwind base;

@layer base {
	@font-face {
		font-family: 'JetBrainsMono';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('jetbrainsmono-regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Manrope';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('manrope-wght.woff2') format('woff2');
	}
}

@tailwind components;

@layer components {
	.prose .iframe-wrapper {
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;
	}

	.prose .iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	.prose .table-wrapper {
		max-width: 100%;
		overflow-x: auto;
	}

	.prose img[src$="files/flow.png"] {
		width: 360px;
	}

	.prose a, .rc-link {
		@apply underline text-blue-600 hover:bg-yellow-200 hover:text-gray-900 hover:no-underline hover:outline-none focus:bg-yellow-200 focus:text-gray-900 focus:no-underline focus:outline-none;
	}

	.rc-menu-link {
		@apply hover:bg-yellow-200 text-gray-900 hover:no-underline hover:outline-none focus:bg-yellow-200 focus:text-gray-900 focus:no-underline focus:outline-none focus:ring-2 focus:ring-black;
	}

	#linkedin{
		top: 16rem;
		font: 1rem;
		z-index: 1000;
		background-image: linear-gradient(white, white, white,white);
		box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
	  }
	
	  #github{
		top: 16rem;
		font: 1rem;
		z-index: 1000;
		background-image: linear-gradient(white, white, white,white);
		box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
	  }
	  
	  #linkedin:hover{
		box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
	  }
	
	  #github:hover {  
		box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
	  }
	
	  #svg{
		position: absolute;
		width: 100%;
		height: 20rem;
		bottom: 0;
		left:0;
		
	  }
	
	  #josefin{
		  width: 25%;
		  height: 25%;
		  margin-left: 310px;
		  border-radius: 100px;     
	  }
	  #title{
		font-size: 30px;
		font-weight: bold;
	  }
	
	
	
		#internshiplink {
	
			font-size: 12px;
			margin-top: 0px;
			margin-bottom: 0px;
			text-decoration: none;
		}
		#internshiptext {
			font-size: 15px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#schoollink {
			font-size: 12px;
			margin-top: 0px;
			margin-bottom: 0px;
			text-decoration: none;
		}
		#schooltext {
			margin-top: 0px;
			font-size: 15px;
			margin-bottom: 0px;
		}
	
		#schoollink:hover{
			background-color:  #f9f9f9;;
		} 
		#internshiplink:hover{
			background-color:  #f9f9f9;;
		} 
	
		.dropdown {
			position: relative;
			display: inline-block;
			padding-left: 10px;
		}
	
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			padding: 12px 16px;
			z-index: 1;
			padding-left: 10px;
		}
	
		.dropdown:hover .dropdown-content {
			display: block;
			padding-left: 10px;
		}
	
		.mt-2{
			width: 9rem;
			float: left;
			margin-top: 20px;
			margin-left: 15px;
		}

}




@tailwind utilities;