
#linkedin{
    top: 16rem;
    font: 1rem;
    z-index: 1000;
    background-image: linear-gradient(white, white, white,white);
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
  }

  #github{
    top: 16rem;
    font: 1rem;
    z-index: 1000;
    background-image: linear-gradient(white, white, white,white);
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
  }
  
  #linkedin:hover{
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
  }

  #github:hover {  
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.35);
  }

  #svg{
    position: absolute;
    width: 100%;
    height: 20rem;
    
  }

  #josefin{
      width: 25%;
      height: 25%;
      margin-left: 310px;
      border-radius: 100px;     
  }
  #title{
    font-size: 30px;
    font-weight: bold;
  }
  
 

